@import url("font-awesome.min.css");
@import url("http://fonts.googleapis.com/css?family=Raleway:100,200,300,500,600,700,800,900");


/* Basic */

	body {
		background: white;
	}

	body, span, input, select, textarea {
		color: #555555;
		font-family: 'Raleway', sans-serif;
		font-size: 12pt;
		font-weight: 300;
		line-height: 1.65em;
	}

	a {
		color: rgb(238, 236, 232);
		text-decoration: underline;
	}

	strong, b {
		font-weight: 700;
	}

	em, i {
		font-style: italic;
	}

	p, ul, ol, dl, table, blockquote {
		margin: 0 0 2em 0;
	}

	p {
		line-height: 2em;
	}

	h1, h2, h3, h4, h5, h6 {
		margin: 0;
		padding: 0;
		color: inherit;
		font-family: 'Raleway', sans-serif;
		font-weight: 700;
	}

		h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
			color: inherit;
			text-decoration: none;
		}

	h2 {
		font-size: 1.5em;
	}

	h3 {
		font-size: 1.25em;
	}

	

	hr {
		border-top: solid 1px #888888;
		border: 0;
		margin-bottom: 1.5em;
	}


	section.special, article.special {
		text-align: center;
	}


/* Image */

	.image {
		border: 0;
		position: relative;
	}

		.image.fit {
			display: block;
		}

			.image.fit img {
				
				display: block;
				width: 100%;
			}

		.image.feature {
			display: block;
			height: 50%;
			margin: 0 0 2em 0;
		}

			.image.feature img {
				display: block;
				width: 100%;
			}

		.image.featured {
			position: static;
			display: block;
			margin: 0;
		}

			.image.featured img { 
				border-radius: 10px 40px 0px 0px;
				display: block;
				width: 100%;
				
			}


/* Tables */

	table {
		width: 100%;
	}

		table.default {
			width: 100%;
		}

			table.default tbody tr {
				border-bottom: solid 1px #888888;
			}

			table.default td {
				padding: 0.5em 1em 0.5em 1em;
			}

			table.default th {
				font-weight: 700;
				padding: 0.5em 1em 0.5em 1em;
				text-align: left;
			}

			table.default thead {
				background: #555555;
				color: #fff;
			}

/* Button */
	.button {
		-moz-appearance: none;
		-webkit-appearance: none;
		-o-appearance: none;
		-ms-appearance: none;
		appearance: none;
		-moz-transition: background-color 0.35s ease-in-out;
		-webkit-transition: background-color 0.35s ease-in-out;
		-o-transition: background-color 0.35s ease-in-out;
		-ms-transition: background-color 0.35s ease-in-out;
		transition: background-color 0.35s ease-in-out;
		background: #d84780;
		border-radius: 6px;
		border: 0;
		color: white;
		cursor: pointer;
		display: inline-block;
		padding: 0.75em 1.5em;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		display: inline-block;
		font-size: 1.2em;
		font-weight: 600;
		color: #FFF !important;
	}

		.button:hover {
			background: #e1719d;
		}

		

/* Wrapper */

	.wrapper.style1 {
		padding-top: 10em;
		padding-bottom: 2em;
		background-image: url("https://babussalambuana.com/wp-content/uploads/2014/03/Savin-NY-Website-Background-Web.jpg");
		/* background-image: radial-gradient(circle, #7B68EE, #6495ED, #F2F6F8); */
		background-size: cover;
		background-attachment: fixed;
		-webkit-backface-visibility: hidden;
		-webkit-transform: translateZ(0);
	}

	.wrapper.style2 {
		padding: 6em 0;
		background: #d84780;
		color: white;
	}


/* Banner */

	#banner {
		text-align: center;
		text-decoration: double;
		color: rgba(39, 106, 138, 0.966);
		padding: 0em 4em;
		margin-bottom: 6em;
	}

		#banner p {
			font-size: 1.75em;
			line-height: 1.75em;
		}

	#banner strong,
	#banner a {
		color: inherit;
	}



/* Page */

	#page {
		position: relative;
		background: #FFF;
		padding: 6em 4em 6em 4em;
		border-radius: 6px;
	}

/* Box */

	.box {
		top: -50px;
		padding: 4em 2em;
		background: transparent;
		background-color: rgb(243, 224, 253);
		text-align: center;
		border-radius: 0px 0px 10px 40px;
		opacity: 0px;
		z-index: 0;
		-webkit-transition: all ease-out .75s;
		-moz-transition: all ease-out .75s;
		-o-transition: all ease-out .75s;
		transition: all ease-out .75s; 
		-webkit-box-shadow: 0 1px 5px rgba(72, 41, 129, 0.25);
		-moz-box-shadow: 0 1px 5px rgba(76, 70, 165, 0.25);
		 box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);

		
	}

	/* Add a black background color to the top navigation */
.topnav {
	
	position: relative; 
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;

	/* position: relative; */
	overflow: hidden;
    top: -10px;
    left: 125px;
    width: 80%;
    padding: 0;
    z-index: 10000;
    -webkit-box-shadow: 0 1px 5px rgba(72, 41, 129, 0.25);
    -moz-box-shadow: 0 1px 5px rgba(76, 70, 165, 0.25);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    height: 50px;
    display: flex;
    flex-direction: column;
    background-color:transparent;   
    padding: 2px 3px;
   -webkit-transition: all ease-out .5s;
   -moz-transition: all ease-out .5s;
   -o-transition: all ease-out .5s;
    transition: all ease-out .5s; 
    background-color: rgba(78, 152, 187, 0.966);
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
	float: left;
	color: #110516;
	text-align: center;
	padding: 2px 16px;
	text-decoration: none;
	font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
	background-color: rgb(131, 194, 236);
	color: rgb(197, 160, 197);
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
	  /* top: 50px; */
	   position: centre; 
	  font-family: FontAwesome;
	  font-style: normal;
	  font-weight: normal;
	 font-size: 2em;
	  display: table-row;
	color: rgb(235, 234, 240);
  }

  .row{
	  display: flex;
	  flex-wrap:  wrap;
	  justify-content: center;
  }


